<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market on Lockdown</title>
    
</head>
<body>
    <h1>Stock Market on Lockdown</h1>
    
    <!--User selects sector to view.-->
    <select name="sector" id="sector" onchange="generateLineGraph(this.value)">
        <option value="finance" selected>Finance</option>
        <option value="socialMedia">Social Media</option>
        <option value="healthcare">Healthcare</option>
        <option value="retail">Retail</option>
    </select>

    <div id="multiplot"></div>

    <!-- Dropdown list for stock symbols -->
    <label for="stockSymbol">Select a Stock Symbol:</label>
    <select onchange="fetchDataAndCreateChart(this.value)">
        <option value="amzn">Amazon.com, Inc. (amzn)</option>
        <option value="axp">American Express Company (axp)</option>
        <option value="bac">Bank of America Corp (bac)</option>
        <option value="goog">Alphabet Inc Class C (goog)</option>
        <option value="hd">Home Depot Inc (hd)</option>
        <option value="hsbc">HSBC Holdings plc (hsbc)</option>
        <option value="jnj">Johnson & Johnson (jnj)</option>
        <option value="lly">Eli Lilly And Co (lly)</option>
        <option value="lulu">Lululemon Athletica Inc (lulu)</option>
        <option value="mck">McKesson Corp (mck)</option>
        <option value="meta">Meta Platforms Inc (meta)</option>
        <option value="mrk">Merk & Co Inc (mrk)</option>
        <option value="ms">Morgan Stanley (ms)</option>
        <option value="mtch">Match Group Inc (mtch)</option>
        <option value="snap">Snap Inc (snap)</option>
        <option value="spotT">Spotify Technology SA (spot)</option>
        <option value="tgt">Target Corp (tgt)</option>
        <option value="unh">UnitedHealth Group Inc (unh)</option>
        <option value="wfc" selected>Wells Fargo & Co (wfc)</option>
        <option value="wsm">Williams-Sonoma Inc (wsm)</option>
    </select>

    <!-- Render the chart -->

    <canvas id="bar-chart" width="800" height="450"></canvas>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!--Company metadata.-->
    <script src="../static/js/metadata.js"></script>

    <!--Code for generating plots.-->
    <script src="../static/js/code.js"></script>
</body>
</html>